/* Bootstrap Breakpoints
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */

/* Bootstrap Colors
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0; */

body {
  background-image: url("https://media.moddb.com/images/groups/1/8/7872/2012-01-30_00010.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: "StalinistOne";
  src: local("StalinistOne"), url("../fonts/StalinistOne-Regular.ttf");
}

.brand-button {
  font-family: "StalinistOne";
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #198754;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #198754;
}

main {
  background-color: rgba(0, 0, 0, 0.75);
}

.profile-photo-header {
  width: 2.5em;
  padding-bottom: 2.5em;
  background-size: cover;
  background-position: center center;
}

.quick-buttons {
  margin-top: 150px;
}

.dropdown-menu {
  z-index: 1100 !important;
}

@media screen and (max-width: 992px) {
  .quick-buttons {
    margin-top: 250px;
  }
}

.quick-buttons .btn {
  width: 40px;
  height: 40px;
}

.filmN {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#contenthome {
  min-height: 600px;
}
#Modcard {
  background-color: rgb(46, 45, 45);
  margin-left: 55px;
  margin-top: 50px;
}
#ModDesc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#headerbuttons {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  min-width: 20px;
  outline: none;
  border-radius: 1px;
}
#headerbuttons:hover {
  background-image: radial-gradient(
      1px 45% at 0% 50%,
      rgba(0, 0, 0, 0.6),
      transparent
    ),
    radial-gradient(1px 45% at 100% 50%, rgba(0, 0, 0, 0.6), transparent);
}
#headerbuttons:active {
  background-image: radial-gradient(
      45% 45% at 50% 100%,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(rgba(6, 243, 17, 0.4), rgba(0, 255, 42, 0.836));
  box-shadow: inset rgba(162, 95, 42, 0.4) 0 0 0 1px,
    inset rgba(255, 255, 255, 0.9) 0 0 1px 3px;
}
