body{
    background-image: url("https://media.moddb.com/images/groups/1/8/7872/2012-01-30_00010.jpg");
    background-color: gray;
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
    font-family: 'Font Name'; 
	src: local('Font Name'),
		url(StalinistOne-Regular.ttf);
}
.header-link{
    color: white;
    text-align: center;
    font-family: 'Font Name';
    text-decoration: none;
}
h1,h2,h3,h4,p,h10,h6{
    color: white;
    text-align: center;
    font-family: 'Font Name';
}
.usernamepandexit{
    color: white;
    text-align: center;
    font-family: 'Font Name';
}
h6{
    color: white;
    margin-left: 5px;
}
.maintext{
    margin-top: 30px;
}
img{
    width: 70%;
    height: 70%;
}
#flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.filmN{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
     
}
#contenthome{
    min-height: 600px;
}
#Modcard{
    background-color:rgb(46, 45, 45);
    margin-left: 55px;
    margin-top: 50px;
}
#ModDesc{
    white-space:nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
#headerbuttons {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    min-width: 20px;
    outline: none;
    border-radius: 1px;
  }
  #headerbuttons:hover {
    background-image:
     radial-gradient(1px 45% at 0% 50%, rgba(0,0,0,.6), transparent),
     radial-gradient(1px 45% at 100% 50%, rgba(0,0,0,.6), transparent); 
  }
  #headerbuttons:active {
    background-image:
     radial-gradient(45% 45% at 50% 100%, rgba(255,255,255,.9), rgba(255,255,255,0)),
     linear-gradient(rgba(6, 243, 17, 0.4), rgba(0, 255, 42, 0.836));
    box-shadow:
     inset rgba(162,95,42,.4) 0 0 0 1px,
     inset rgba(255,255,255,.9) 0 0 1px 3px;
  }
