<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="icon" href="/static/img/logo.svg">
    <title>
        {% block title %}
        Welcome to SpyMods!
        {% endblock %}
    </title>
</head>

<body class="text-white">
    <header class="fixed-top p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="brand-button navbar-brand text-white">
                    <div class="d-flex align-items-center">
                        <img src="/static/img/logo.svg" alt="logo">
                        <h6 class="m-0 mt-1 ms-3">SpyMod</h6>
                    </div>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ url_for('gamelist') }}"
                            class="nav-link text-white px-2 ms-lg-5 mb-2 mb-lg-0">Игры</a></li>
                    <li><a href="{{ url_for('faq') }}" class="nav-link text-white px-2 ms-5 mb-2 mb-lg-0">FAQ</a></li>
                </ul>

                <form method="get" action="{{ url_for('mods') }}" class="col-12 col-lg-4 mb-3 mb-lg-0 me-lg-3">
                    <input type="search" name="search" class="form-control form-control-dark" placeholder="Поиск"
                        aria-label="Search" autocomplete="off" value="{{ request.args.get('search') or '' }}">
                </form>

                {% if current_user.is_authenticated %}
                <div class="d-flex mb-2 mb-md-0">
                    <div class="dropdown text-end">
                        <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle"
                            id="user-header-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-photo-header rounded-circle"
                                style="background-image: url('{{ url_for('profile_photo', id=current_user.id) }}');">
                            </div>
                            <span class="ms-2">{{ current_user.username }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="user-header-dropdown">
                            <li><a class="dropdown-item"
                                    href="{{ url_for('user', username=current_user.username) }}">Профиль</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a href="{{ url_for('logout') }}" class="logout-link dropdown-item">
                                    Выйти
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal"
                            data-bs-target="#login-modal">Вход</button>
                        <button type="button" class="btn btn-success" onclick="window.location='{{url_for('register')}}';">Регистрация</button>
                    </div>
                    {% endif %}
                </div>
            </div>
    </header>

    <header class="fake-header p-3 bg-dark text-white position-relative">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="brand-button navbar-brand text-white">
                    <div class="d-flex align-items-center">
                        <img src="/static/img/logo.svg" alt="logo">
                        <h6 class="m-0 ms-3">SpyMod</h6>
                    </div>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ url_for('gamelist') }}"
                            class="nav-link text-white px-2 ms-lg-5 mb-2 mb-lg-0">Игры</a></li>
                    <li><a href="{{ url_for('faq') }}" class="nav-link text-white px-2 ms-5 mb-2 mb-lg-0">FAQ</a>
                    </li>
                </ul>

                <form class="col-12 col-lg-4 mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Поиск" aria-label="Search">
                </form>

                {% if current_user.is_authenticated %}
                <div class="d-flex mb-2 mb-md-0">
                    <div class="dropdown text-end">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                            id="user-header-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="rounded-circle" id="profile-img"
                                style="background-image: url('{{ url_for('profile_photo', id=current_user.id) }}');">
                            </div>
                            <span class="ms-2">{{ current_user.username }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="user-header-dropdown">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form action="{{ url_for('logout') }}" id="logout-form">
                                    <button type="submit" class="logout-link dropdown-item">Выйти</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2">Вход</button>
                        <button type="button" class="btn btn-success">Регистрация</button>
                    </div>
                    {% endif %}
                </div>
            </div>
    </header>

    <main class="mx-4 min-vh-100">
        {% if current_user.is_authenticated %}

        <div class="quick-buttons fixed-top ms-4 d-flex flex-column">
            {% if current_user.IdGroup in [1, 2, 3] %}
            <a class="btn btn-success mb-3" title="Добавить модификацию" href="{{ url_for('makenewmod') }}">
                +
            </a>
            {% endif %}

            {% if current_user.IdGroup == 3 %}
            <a class="btn btn-success" title="Добавить игру" href="{{ url_for('game') }}">
                <img src="/static/img/game.svg" alt="game">
            </a>
            {% endif %}
        </div>

        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark position-relative">
        <p class="text-center my-0 p-4">
            Spymod - Все права защищены. Копирование материалов без указанной активной ссылки на данный сайт запрещено.
        </p>
    </footer>

    {% if not current_user.is_authenticated %}
    {% include "incs/loginModal.html" %}
    {% endif %}
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="/static/js/script.js"></script>

</html>