{% extends "base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
<section class="pt-5 ps-5 pe-5 pb-5">
  <h1 class="ps-3 mb-4">Основные правила сайта</h1>
<p class="my-0 p-4">
  На данном сайте можно просматривать и скачивать модификации для разных игр.<br>
  Для просмотра списка всех игр, перейдите на вкладку "Игры". Здесь вы можете сразу выбрать игру из списка или отфильтровать список на основе введённой строки.<br>
  Для каждой игры есть список модификаций, имеющий разные теги. Вы можете выбрать один или несколько тегов, чтобы отсортировать список по вашим предпочтениям. Чтобы перейти на страницу модификации, нажмите на её карточку.<br>
  Страница модификации содержит подробную информацию о ней. Здесь имеется описание модификации (в том числе с помощью в установке), информация об авторе, дате создания, языке модификации, видео, комментарии, оставленные пользователями, и ссылки на скачивание.<br>
  Вся информация о модификациях доступна всем пользователям, однако только авторизованные пользователи могут скачивать модификации и оставлять комментарии. Для авторизации следует нажать на кнопку "Вход", а если у вас нет аккаунта, следует нажать на кнопку "Регистрация" для создания нового<br>
  Все авторизованные на сайте пользователи по умолчанию имеют роль "user". Менять пользователям роли может только администратор, поэтому за этим вопросом следует обращаться к нему.<br>
  Другие роли на сайте: модмейкер (имеет возможность добавлять на сайт новые модификации) и модератор.
</p>
</section>
{% endblock %}