{% extends "base.html" %}
{% block content %}
<div class="welcome-section-wrapper d-flex justify-content-center align-items-center vh-100">
    <section class="welcome-section d-flex flex-column justify-content-center align-items-center text-center mx-3">
        <h1 class="mb-3">Добро пожаловать на сайт SpyMod!</h1>
        <p class="mb-5">Пока что тут ничего нет, но в будущем тут что-нибудь напишем</p>
        <a href="{{ url_for('gamelist') }}">
            <button class="btn btn-success py-2 px-5">
                Перейти к играм
            </button>
        </a>
    </section>
</div>
{% endblock %}