{% extends "base.html" %}

{% block title %}
{{ mod.name }}
{% endblock %}

{% block content %}
<section class="p-5">
    <div class="d-flex flex-column align-items-center">
        <h3 class="mb-5">Мод "<b>{{ mod.name }}</b>" на игру "{{mod.game.name}}"</h3>
        <img src="{{url_for('mod_photo', mod_id=mod.id)}}" alt="mod_photo" class="mod-page-banner mb-5"
            style="display: block;">
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link link-light active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                type="button" role="tab" aria-controls="home" aria-selected="true">Описание</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link link-light" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                type="button" role="tab" aria-controls="profile" aria-selected="false">Файлы</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link link-light" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                type="button" role="tab" aria-controls="contact" aria-selected="false">Видео</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link link-light" id="contact-tab" data-bs-toggle="tab" data-bs-target="#video"
                type="button" role="tab" aria-controls="video" aria-selected="false">Комментарии</button>
        </li>
    </ul>
    <div class="tab-content mt-4" id="myTabContent">

        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="mod-page-description d-none">
                {{mod.Description}}
            </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% if mod.ModLink.count() %}
            {% for link in mod.ModLink %}
            <div class="mb-3 d-flex align-items-center">
                <img src="/static/img/download.svg" alt="download" class="me-2"
                    style="display: inline-block; height: 2rem;">
                <a href="{{ url_for('mod_link', link_id=link.id) }}" class="link-light"
                    style="word-break: break-all;">{{ link.LinkName }}</a>
            </div>
            {% endfor %}
            {% else %}
            <p>Ссылки на скачивание отсутствуют.</p>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            {% if mod.ModVideo %}
            {% for video in mod.ModVideo %}
            <div class="embed-responsive embed-responsive-16by9 thumb-wrap">
                <iframe class="embed-responsive-item" src="{{video.Link}}" allowfullscreen=""></iframe>
            </div>
            {% endfor %}
            {% else %}
            <p>Видео отсутствуют.</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="contact-tab">
            {% if current_user.is_authenticated %}
            <section class="comments-section">
                <div class="container-fluid">
                    <form action="{{ url_for('comment', mod_id=mod.id) }}" method="post" id="comment_form" novalidate>
                        <div class="row g-2">
                            <div class="col-2 col-md-1">
                                <div class="profile-photo-comment rounded-circle me-3"
                                    style="background-image: url('{{url_for('profile_photo', id=current_user.id)}}');">
                                </div>
                            </div>
                            <div class="col-10 col-md-11">
                                {{ comment_form.comment(rows="3", class="form-control") }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            {{ comment_form.submit(class="btn btn-success", form="comment_form") }}
                        </div>
                    </form>
                </div>
            </section>
            {% else %}
            <p>Войдите в аккаунт, чтобы оставлять комментарии.</p>
            {% endif %}

            {% for comment in mod.ModComment %}
            <article class="border rounded p-2 mt-3 bg-dark">
                <a href="{{ url_for('user', username=comment.messageauthor.username) }}"
                    class="d-flex align-items-center link-light text-decoration-none mb-3">
                    <div class="profile-photo-comment-2 rounded-circle me-3"
                        style="background-image: url('{{url_for('profile_photo', id=comment.messageauthor.id)}}');">
                    </div>
                    <div class="d-flex flex-column">
                        <div class="fs-4">{{ comment.messageauthor.username }}</div>
                        <div class="">{{ comment.DateSend }}</div>
                    </div>
                </a>

                <p class="ps-2">{{ comment.Message }}</p>
            </article>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}