{% extends "base.html" %}

{% block title %}
Профиль пользователя {{ user.username }}
{% endblock %}

{% block content %}
<section class="pt-5 pb-5">
    <section class="ps-md-5 d-flex flex-column align-items-center">
        <h3 class="profile-title ms-4 mb-4 text-center">Профиль пользователя <b>"{{ user.username }}"</b></h3>
        <div class="ms-md-5 profile-photo-on-page rounded-circle"
            style="background-image: url('{{ url_for('profile_photo', id=user.id) }}');">
        </div>
    </section>

    <div class="container-fluid bg-dark mt-5">
        <div class="row">
            <h3 class="user-info-title position-relative col-md-3 py-3 mb-0 bg-light-dark text-center">
                {{ user.username }}
            </h3>
            <hr class="mb-0">
        </div>
        <div class="row">
            <div class="col-md-6 container pt-3 bg-light-dark pb-4 px-4">
                <div class="row">
                    <h5 class="ms-3 mb-3">Основная информация</h5>
                </div>

                <div class="row bg-dark border border-secondary py-3">
                    <div class="col-6"><b>Имя пользователя:</b></div>
                    <div class="col-6">{{ user.username }}</div>
                </div>
                <div class="row bg-dark border border-secondary py-3">
                    <div class="col-6"><b>Группа:</b></div>
                    {% if current_user.is_authenticated and user != current_user and current_user.IdGroup == 3 %}
                    <select name="user-groups" id="user-groups-select" class="form-select form-select-sm w-25"
                        onchange="location = this.value;">
                        <option value="{{ url_for('addgroup', username=user.username, group_id=0) }}" {{ "selected" if
                            user.IdGroup==0 }}>user</option>
                        <option value="{{ url_for('addgroup', username=user.username, group_id=1) }}" {{ "selected" if
                            user.IdGroup==1 }}>modmaker</option>
                        <option value="{{ url_for('addgroup', username=user.username, group_id=2) }}" {{ "selected" if
                            user.IdGroup==2 }}>moderator</option>
                        <option value="{{ url_for('addgroup', username=user.username, group_id=3) }}" {{ "selected" if
                            user.IdGroup==3 }}>admin</option>
                    </select>
                    {% else %}
                    <div class="col-6">{{ user.group.name }}</div>
                    {% endif %}
                </div>

                <div class="row bg-dark border border-secondary py-3">
                    <div class="col-6"><b>E-mail:</b></div>
                    <div class="col-6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{
                        user.email }}</div>
                </div>
            </div>

            <div class="col-md-6 container pt-3 bg-light-dark pb-4 px-4">
                <div class="row">
                    <h5 class="ms-3 mb-3">Дополнительная информация</h5>
                </div>

                <div class="row bg-dark border border-secondary py-3">
                    <div class="col-6"><b>Дата рождения:</b></div>
                    <div class="col-6">{{ user.Birth_Date.strftime('%d.%m.%Y') }}</div>
                </div>
                <div class="row bg-dark border border-secondary py-3">
                    <div class="col-6"><b>Пол:</b></div>
                    <div class="col-6">{{ user.Sex }}</div>
                </div>
                <div class="row bg-dark border border-secondary py-3">
                    <div class="col-6"><b>Страна:</b></div>
                    <div class="col-6">{{ user.Country }}</div>
                </div>
            </div>
        </div>
</section>
{% endblock %}